@{
    ViewBag.Title = "About";
}

<br/>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-2">
                <div class="panel panel-border panel-inverse">
                    <div class="panel-heading">
                        <h3 class="panel-title">About SMETA</h3>
                    </div>
                    <div class="panel-body">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>
                </div>
            </div>
            <div class="col-md-2">
                <div class="panel panel-border panel-inverse">
                    <div class="panel-heading">
                        <h3 class="panel-title">The Team</h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-lg-12 m-b-20">
                                <div class="contact-card">
                                    <a class="pull-left" href="https://www.linkedin.com/in/matthew-dean-b804b485/">
                                        <img class="img-circle" src="@Url.Content("~/Content/Images/matt-thumbnail.jpg")" alt="">
                                    </a>
                                    <div class="member-info">
                                        <br />
                                        <h4 class="m-t-0 m-b-5 header-title"><b>Matthew Dean</b></h4>
                                        <p class="text-muted">Burlington, VT</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="contact-card">
                                    <a class="pull-left" href="#">
                                        <img class="img-circle" src="http://media01.bigblackbag.net/43001/portfolio_media/lwsm_graycatsquare_1539.jpg" alt="">
                                    </a>
                                    <div class="member-info">
                                        <br />
                                        <h4 class="m-t-0 m-b-5 header-title"><b>Hanah Leo</b></h4>
                                        <p class="text-muted">Burlington, VT</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-md-offset-2">
                <div class="panel panel-border panel-inverse">
                    <div class="panel panel-border panel-inverse">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contact Us</h3>
                        </div>
                        <div class="panel-body">
                            <form action="@Url.Action("PostContact","Home")" method="post">
                                <div class="form-group col-md-6">
                                    <input type="text" name="contactName" class="form-control" placeholder="Name" />
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" name="contactEmail" class="form-control" placeholder="Email" />
                                </div>
                                <div class="form-group col-md-12">
                                    <textarea class="form-control" name="contactMessage" rows="5" placeholder="Message"></textarea>
                                </div>
                                <div class="col-md-12">
                                    <button class="btn btn-inverse" type="submit">Submit</button>
                                    <button class="btn btn-default" type="reset">Clear</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
