@{
    ViewBag.Title = "Dashboard";
}

<div class="modal fade" id="Filter_DateTime" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Date &amp; Time Filters</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label>Start Date</label>
                        <input id="FilterAttr_StartDate" type="text" class="form-control" placeholder="MM/DD/YYYY" />
                    </div>
                    <div class="form-group">
                        <label>End Date</label>
                        <input id="FilterAttr_EndDate" type="text" class="form-control" placeholder="MM/DD/YYYY" />
                    </div>
                    <div class="form-group">
                        <label>Interval</label>
                        <select id="FilterAttr_Interval" class="form-control">
                            <option value="minute">Minute</option>
                            <option value="hour">Hour</option>
                            <option selected value="day">Day</option>
                            <option value="month">Month</option>
                            <option value="year">Year</option>
                        </select>
                    </div>
                </form>
                <div class="clearfix"></div>
            </div>
            <div class="modal-footer">
                <button id="Apply_DateTime" class="btn btn-success">Apply</button>
                <button id="Clear_DateTime" class="btn btn-danger">Clear</button>
            </div>
        </div>
    </div>
</div>

<!-- ========== Left Sidebar Start ========== -->


<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="text-muted menu-title">Navigation</li>

                <li class="has_sub">
                    <a href="#" onclick="$('#Filter_DateTime').modal('show');" class="waves-effect"><i class="icon-clock"></i> <span> Date &amp; Time Filters </span> <span class="menu-arrow"></span></a>
                </li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-magnifier"></i> <span> Search Words/Phrases </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li style="padding: 20px; width: 200px;">
                            <input type="text" class="form-control" placeholder="Word/phrase Search">
                            <button class="btn-default">Submit</button>
                        </li>
                    </ul>
                </li>

            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->

<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5% Sentiment</b></h3>
                            <p>
                                <button id="graphView" class="btn btn-default" onclick="switchGraphData()">Split</button>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="widget-bg-color-icon card-box" id="graph">
                        <h3>Tweet Positivity Over Time</h3>
                        <script>getGraph();</script>
                        <!--put in legends-->
                        <!--load DEFAULT graph, changing fiter options-->
                        <!--
                        Default: 
                        24 hour period
                        all tweets
                        all users
                        -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#Clear_DateTime").click(function () {
                $("#FilterAttr_StartDate").val("");
                $("#FilterAttr_EndDate").val("");
                $("#FilterAttr_Interval").val("day");
            });
        });
    </script>
}