@{
    ViewBag.Title = "Dashboard";
}

<!-- ========== Left Sidebar Start ========== -->


<div class="left side-menu">
    <div class="sidebar-inner slimscrollleft">
        <!--- Divider -->
        <div id="sidebar-menu">
            <ul>

                <li class="text-muted menu-title">Navigation</li>

                <li class="has_sub">
                    <a href="javascript:void(0);" class="waves-effect"><i class="icon-clock"></i> <span> Date &amp; Time Filters </span> <span class="menu-arrow"></span></a>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#">Coming Soon</a>
                        </li>
                    </ul>
                </li>


            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Left Sidebar End -->

<div class="content-page">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-12 hidden-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5% Sentiment</b></h3>
                            <p>
                                <span class="label label-success">+0.5% Anger</span>
                                <span class="label label-success">+0.5% Anticipation</span>
                                <span class="label label-success">+0.5% Disgust</span>
                                <span class="label label-success">+0.5% Fear</span>
                                <span class="label label-success">+0.5% Joy</span>
                                <span class="label label-success">+0.5% Sadness</span>
                                <span class="label label-success">+0.5% Surprise</span>
                                <span class="label label-success">+0.5% Trust</span>
                            </p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>

                <!--Moblie Cards-->
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Sentiment</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Anger</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Anticipation</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Disgust</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Fear</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Joy</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Sadness</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Surprise</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="col-md-12 visible-xs">
                    <div class="widget-bg-color-icon card-box">
                        <div class="bg-icon bg-icon-success pull-left">
                            <i class="glyphicon glyphicon-arrow-up text-success"></i>
                        </div>
                        <div class="text-right">
                            <h3 class="text-dark"><b class="counter">+0.5%</b></h3>
                            <h4 class="text-muted">Trust</h4>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <!--End Mobile Cards-->
            </div>
            <div class="row">
                <div class="col-lg-12 hidden-xs">
                    <div class="widget-bg-color-icon card-box">
                        Graph
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>